:root {
    /* background */
    --c-dark: #141D2D;
    --c-light: #fff;
    --c-accent: #FF6B08;
  
    --c-dark-blue: #253045; 
    --c-grey-blue: #4A5771;
    --c-grey-light: #F1F2F2;
    --c-grey: #BCC1D2;
  
    /* text */
    --txt-c-dark: var(--c-dark);
    --txt-c-grey: #4F5B70;
    --txt-c-grey-light: var(--c-grey-light);
    --txt-c-accent: var(--c-accent);
    --txt-c-light: var(--c-light);

    /* Modal */

    --m-bcgr-dark: rgba(20, 29, 45, 0.8);
  
    /* font */
    --font-main: 'Acrom', sans-serif;
    /* container width */
    --vertical-scroll: 20px;
    --mobile: calc(300px + var(--vertical-scroll));
    --tablet: calc(640px + var(--vertical-scroll));
    --desktop: calc(900px + var(--vertical-scroll));
    --desktop-lg: calc(1270px + var(--vertical-scroll));
  
    /* animation */
    --animation-fast: 0.1s;
    --animation-slow: 0.3s;
    --animation-transition: all 0.2s ease-in-out;
  }
  
  @font-face {
    font-family: "Acrom";
    src: url("../fonts/acrom/Acrom-ExtraBold.eot");
    src: local("Acrom ExtraBold"), local("Acrom-ExtraBold"),
      url("../fonts/acrom/Acrom-ExtraBold.eot?#iefix") format("embedded-opentype"),
      url("../fonts/acrom/Acrom-ExtraBold.woff") format("woff"),
      url("../fonts/acrom/Acrom-ExtraBold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
      font-family: 'Acrom';
      src: url('../fonts/acrom/Acrom-Bold.eot');
      src: local('Acrom Bold'), local('Acrom-Bold'),
          url('../fonts/acrom/Acrom-Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/acrom/Acrom-Bold.woff') format('woff'),
          url('../fonts/acrom/Acrom-Bold.ttf') format('truetype');
      font-weight: bold;
      font-style: normal;
  }
  
  @font-face {
      font-family: 'Acrom';
      src: url('../fonts/acrom/Acrom-Regular.eot');
      src: local('Acrom Regular'), local('Acrom-Regular'),
          url('../fonts/acrom/Acrom-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/acrom/Acrom-Regular.woff') format('woff'),
          url('../fonts/acrom/Acrom-Regular.ttf') format('truetype');
      font-weight: normal;
      font-style: normal;
  }

  body {
    font-family: var(--font-main);
  }
  html {
    scroll-behavior: smooth;
  }

  /* COMMON */

  .mobile-element {
    display: block;
  }
  .tablet-element {
    display: none;
  }
  .desktop-element {
    display: none;
  }
  .accent-button {
   background: var(--c-accent);
   font-weight: bold;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   color: var(--txt-c-light);
   outline: none;
   border: none;
   cursor: pointer;
   text-decoration: none;
   height: 45px;
   padding: 15px 20px 10px 20px;
  }
  .accent-button:hover {
    animation-name: background-color;
    animation-duration: 3s;
  }
  @keyframes background-color {
    25% {
      color: var(--c-accent);
      background-color: var(--c-light);
      border: solid var(--c-accent); 
    }
    100% {
      color: var(--c-accent);
      background-color: var(--c-light);
      border: solid var(--c-accent); 
    }
  }
  .container {
    min-width: 320px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: auto;
    padding: 30px 10px 55px 10px;
  }
  
  .container-left {
    align-items: flex-start;
  }
  
  .section-title {
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: var(--txt-c-light);
  }
  /* MODAL WINDOW */
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    pointer-events: none;
    display: block;
    background: var(--m-bcgr-dark);
    z-index: 4;
    width: 100%;
  }
  .modal-active {
    display: block;
    opacity: 1;
    pointer-events: all;
  }
  .body-scroll-disable {
    overflow: hidden;
  }

  /* M Mob Menu */

  .modal-mobile-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
  }
  .modal-close-button {
    font-size: 18px;
    position: absolute;
    color: var(--txt-c-grey);
    top: 16px;
    right: 16px;
    cursor: pointer;
  }
  .mobile-menu-close-button {
    background: var(--c-accent);
    color: var(--txt-c-light);
    padding: 10px 14px;
  }
  .modal-mobile-menu {
   background: var(--c-light);
  }
  .mobile-menu-container {
    height: 70%;
    justify-content: space-between;
    margin: 0;
  }
  .modal-mobile-menu-item {
   font-weight: bold;
   font-size: 15px;
   line-height: 18px;
   letter-spacing: 0.05em;
   text-transform: uppercase;
   text-decoration: none;
   text-align: center;
   color: var(--txt-c-grey);
   margin-bottom: 35px;
   transition: var(--animation-transition);
  }
  .modal-mobile-menu-item:hover {
    color: var(--txt-c-accent);
  }
  .modal-mobile-menu-items {
    display: flex;
    flex-direction: column;
  }
  .modal-mobile-phone {
    font-weight: bold;
    font-size: 17px;
    line-height: 150%;
    text-align: center;
    margin: 0 0 15px 0;
  }  
  .modal-mobile-email {
    font-size: 17px;
    line-height: 150%;
    text-align: center;
    color: var(--txt-c-dark);
    text-decoration: none;
    margin: 0 0 30px 0;
  }

  /* M Video */

  .my-video-content {
    width: 100%;
  }
  .my-video-container {
    height: 100%;
    display: flex;
   align-items: center;
   justify-content: center;
   padding: 20px 10px;
  }
  .my-video-close-button {
    background: var(--c-light);
    color: var(--c-dark);
    padding: 5px 8px;
    border-radius: 5px;
  }
  /* M Thanks */

  .modal-thanks-close-button {
    color: var(--c-grey);
    display: flex;
    flex-direction: row-reverse;
    margin-top: 15px;
    padding-right: 15px;
    width: 100%;
    padding: 0 0 45px 0;
    cursor: pointer;
  }
  .modal-thanks-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
  }
  .modal-thanks {
    background: var(--c-light);
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 15px 80px 25px;
  }
  .modal-thanks-text {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    color: var(--txt-c-accent);
    padding-bottom: 15px;
    margin: 0;
  }
  .modal-thanks-text-delivered {
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-align: center;
    text-transform: uppercase;  
    color: var(--txt-c-dark);
    padding-bottom: 15px;
    margin: 0;
  }
  .modal-thanks-text-contact {
    font-size: 17px;
    line-height: 130%;
    text-align: center; 
    color: var(--txt-c-dark);
    margin: 0;
  }

  /* PROJECT MODAL */

 .project-modal {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    box-sizing: border-box;
  }

  .project-modal-container {
    background: var(--c-light);
    padding: 45px 0;
    text-align: left;
    position: relative;
    box-sizing: border-box;
    height: 85%;
    width: 100%;
  }

  .project-modal-scrollable {
    overflow-y: auto;
    height: 100%;
    padding: 0 25px;
  }

  .project-modal-title {
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
   color: var(--txt-c-dark);
   text-transform: uppercase;
    text-decoration: none;
   margin: 0 0 25px 0;
    display: block;
  }

  .project-modal-text {
    font-size: 16px;
    line-height: 145%;
    color: var(--txt-c-dark);
    margin: 0 0 30px 0;
  }

  .project-modal-img {
    width: 100%;
    margin-bottom: 30px;
  }
  .swiper-container {
    width: 250px;
    height: auto;
    margin-bottom: 20px;
  }
  .swiper-button-prev {
    opacity: 0;
    color: var(--c-dark);
    transition: var(--animation-transition);
  }
  .swiper-button-prev:hover {
    color: var(--c-accent);
  }
  .swiper-button-next {
    opacity: 0;
    color: var(--c-dark);
    transition: var(--animation-transition);
  }
  .swiper-button-next:hover {
    color: var(--c-accent);
  }

  /* FRONT PAGE */

  .front-page {
    width: 100%;
    height: 1350px;
    background: var(--c-dark);
    padding: 30px 10px 55px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .front-page-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .front-page-my-name {
    color: var(--txt-c-accent);
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    text-transform: uppercase;
    text-align: center;
    margin: 35px 0 10px 0;
  }
  .front-page-profession {
    color: var(--txt-c-light);
    font-weight: bold;
    font-size: 35px;
    line-height: 42px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
  }
  .front-page-description {
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--txt-c-light);
    margin-bottom: 20px;
  }
  .navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .navigation-menu {
    display: flex;
    align-items: center;
  }
  .hire-me-button {
    font-weight: 800;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
    color: var(--txt-c-accent);
    text-decoration: none;
    margin: 0 20px 0 0;
    transition: var(--animation-transition);
  }
  .hire-me-button:hover {
    transform: scale(1.1);
    color: var(--txt-c-light);
  }
  .mobile-menu {
    width: 30px;
    height: 30px;
    background-color: var(--c-accent);
    display: block;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .mobile-menu i {
    color: var(--c-light);

  }
  .logo-link {
   text-decoration: none;
   transition: var(--animation-transition);
  }
  .logo-link:hover {
   transform: scale(1.1);
  }
  .front-page-gallery-button {
    margin: 0 0 40px 5px;
    width: 300px;
  }
  .front-page-my-photo {
    width: 100px;
    margin-bottom: 20px;
    margin-left: 55px;
  }
  .front-page-my-descrip {
    font-weight: bold;
    font-size: 15px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--txt-c-light);
    margin: 0 0 15px 0;
  }
  .front-page-me-video {
    border: 2px solid var(--c-accent);
    box-sizing: border-box; 
    font-weight: bold;
    background: transparent;
    padding: 10px 40px;
    text-transform: uppercase;
    color: var(--txt-c-accent);
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    margin-left: 33px;
    cursor: pointer;
  }
  .front-page-me-video .fa-play {
    font-size: 10px;
    margin-right: 7px;
  }
  .front-page-me-video:hover {
    animation-name: background-color-video;
    animation-duration: 3s;
  }
  @keyframes background-color-video {
    25% {
      color: var(--txt-c-accent);
      background-color: var(--c-light); 
    }
    100% {
      color: var(--txt-c-accent);
      background-color: var(--c-light); 
    }
  }
  .front-page-laptop {
    width: 250px;
    margin-bottom: 30px;
  }

  /* EXPERIENCE */

  .experience-title {
    width: 240px;
    font-weight: bold;
    font-size: 15px;
    line-height: 140%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--txt-c-light);
    margin: 0 0 35px 0;
  }

  .exp-skill {
    display: flex;
    align-items: center;
    margin: 0 0 20px 40px;
  }
  .exp-skill-1 {
    display: flex;
    align-items: center;
    margin: 0 0 20px 40px;
  }
  .exp-skill-2 {
    display: flex;
    align-items: center;
    margin: 0 0 20px 40px;
  }
  .exp-skill-3 {
    display: flex;
    align-items: center;
    margin: 0 0 20px 40px; 
  }
  .exp-skill-4 {
    display: flex;
    align-items: center;
    margin: 0 0 20px 40px; 
  }
  .exp-dots {
    display: flex;
    align-items: center;
    margin-right: 10px;

  }
  .exp-text {
    color: var(--txt-c-light);
    margin: 0;
    font-size: 16px;
    line-height: 19px;
  }
  .exp-dots-item {
    color: var(--c-grey);
    font-size: 8px;
    margin-right: 5px;
  }
  .exp-dots-item-accent {
    color: var(--c-accent);
  }

  /* ABOUT PAGE */

  .about-title {
    color: var(--txt-c-dark);
    text-align: left;
    width: 280px;
    margin: 20px 0;
  }

 .about-descr {
    font-weight: bold;
   font-size: 24px;
   line-height: 29px;
   text-transform: uppercase;
   color: var(--txt-c-light);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin: 0;
  }

  .about-descr span {
   background: var(--c-dark-blue);
   padding: 4px 9px;
  }

 .about-text {
   font-weight: normal;
   font-size: 17px;
   line-height: 150%;
   color: var(--c-dark);
   margin: 0 0 30px 0;
  }

  .about-text:last-child {
   margin-bottom: 0;
  }

  .about-img-container {
   display: flex;
   justify-content: center;
   width: 100%;
   margin-bottom: 20px;
  }

 .about-img-text {
   font-weight: bold;
   font-size: 150px;
   line-height: 180px;
   text-transform: uppercase;
   color: var(--txt-c-grey-light);
   writing-mode: tb-rl;
   margin: auto;
   position: relative;
  }

 .about-img {
   width: 235px;
   height: 254px;
   position: absolute;
   left: -35px;
   top: 55px;
  }

 /* PERSONAL PROJECT */

  .personal-projects {
   background: var(--c-dark);
  }

  .personal-project-item-container {
   padding-top: 40px;
   background: var(--c-dark-blue);
   border-radius: 5px 5px 0 0;
   position: relative;
  }

  .personal-project-name {
   font-weight: normal;
   font-size: 17px;
   line-height: 150%;
   color: var(--txt-c-light);
   margin: 25px 0;
   display: flex;
  }

  .personal-project-img {
   width: 100%;
  }

  .personal-projects-title {
   margin-top: 20px;
  }

  .projet-item-dot-container {
   display: flex;
   position: absolute;
   top: 17px;
   left: 20px;
  }

  .personal-project-item {
   border-bottom: 1px solid var(--c-grey-blue);
   margin-bottom: 30px;
  }

  .personal-project-item:last-child {
   margin-bottom: 0;
  }

  .projet-item-dot {
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: var(--c-grey-blue);
   margin-right: 7px;
  }

  .projet-item-dot:first-child {
   background: var(--c-accent);
  }

  .personal-project-icon {
   font-size: 18px;
   color: var(--c-accent);
   margin-right: 15px;
   margin-top: 3px;
  }

  .personal-project-button {
   padding: 15px 20px 10px 20px;
   margin-bottom: 30px;
   width: 185px;
  }

  /* TEAM PROJECT */

  .team-projects .container {
   position: relative;
   overflow-x: hidden;
   padding-bottom: 0;
  }
  .team-projects-title {
   color: var(--txt-c-dark);
   position: relative;
   margin-bottom: 40px;
  }
  .team-projects-title-bgd {
   position: absolute;
   top: -50px;
   left: 45px;
   font-weight: bold;
   font-size: 150px;
   line-height: 180px;
   text-transform: uppercase;
   color: var(--txt-c-grey-light);
   z-index: -1;
  }
  .team-project-name {
   font-weight: normal;
   font-size: 17px;
   line-height: 150%;
   color: var(--txt-c-dark);
   margin: 25px 0;
   display: flex;
  }
  .team-project-item {
   border-bottom: 1px solid var(--c-grey-light);
   margin-bottom: 30px;
  }
  .team-project-item:last-child {
   margin-bottom: 0;
  }

 /* CALLBACK FORM */

  .callback-form-container {  
   background: var(--c-dark);
   padding: 35px 30px 40px 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   box-sizing: border-box;
    width: 100%;
  }
  .callback-form-title {
   font-weight: bold;
   font-size: 24px;
   line-height: 29px;
   text-align: center;
   text-transform: uppercase;
   color: var(--txt-c-light);
   width: 260px;
   margin: 0 0 20px 0;
  }
  .call-back-form-descrip {
    font-size: 17px;
    line-height: 150%;
    text-align: center;
    color: var(--txt-c-light);
    width: 260px;
    margin: 0;
  }
  .callback-form-input-container {
   display: flex;
   flex-direction: column;
  }
  .callback-form-input {
   color: var(--txt-c-grey);
   background: transparent;
   outline: none;
   border: none;
   border-bottom: 1px solid var(--c-grey-blue);
   text-align: center;
   padding: 30px 10px 15px 10px;
   color: var(--txt-c-light);
  }
  .callback-form-submit {
   text-transform: uppercase;
   margin-top: 25px;
   font-weight: bold;
   font-size: 15px;
   line-height: 18px;
   text-align: right;
   letter-spacing: 0.05em;
   width: 240px;
   padding: 15px 10px;
  }
  .error-input {
   border: 1px solid red;
  }

  /* CALCULATOR FORM SECTION */

 .calculator {
   background: var(--c-dark);
   width: 100%;
  }

  .calculator .container {
   padding-bottom: 75px;
  }
  .calculator-icon {
   width: 195px;
  }

  .calculator-descr {
   font-weight: bold;
   font-size: 24px;
   line-height: 150%;
   text-align: center;
   text-transform: uppercase;
   color: var(--txt-c-light);
   margin: 0 0 30px 0;
   width: 276px;
  }

  .calculator-descr span {
   background: var(--c-accent);
   padding: 5px;
   z-index: 2;
  }

  .calculator-descr .calculator-descr-accent {
   padding: 5px 10px;
  }

  .calculator-title {
   width: 270px;
   margin-bottom: 20px;
  }

  .calculator-text {
   font-size: 17px;
   line-height: 150%;
   text-align: center;
   color: var(--txt-c-light);
   margin: 20px 0 30px 0;
  }
  .calculator-form {
   background: var(--c-light);
   padding: 30px 25px;
  }
  .calculator-form-title{
   font-weight: bold;
   font-size: 17px;
   line-height: 150%;
   color: var(--txt-c-dark);
   margin: 0 0 15px 0;
  }
  .calculator-form-input {
   display: flex;
   flex-direction: column;
   margin-bottom: 30px;
  }
  .calculator-form-select {
   background: transparent;
   border: none;
   border-bottom: 1px solid var(--c-grey-blue);
   padding: 5px 0 15px 0;
  }
  .calculator-form-input-radio-choice {
   display: flex;
   align-items: center;
  }
  .calculator-form-input-label {
   margin: 0 20px 0 7px;
  }
  .calculator-form-tot-cost {
   font-weight: bold;
   font-size: 36px;
   line-height: 150%;
   display: flex;
   align-items: center;
   margin: 0;
  }
  .accent-button-calculator {
   width: 235px;
  }

  /* FOOTER */

  .footer-container {
   padding: 30px 30px 45px 30px;
  }
  .footer-name {
   font-weight: bold;
   font-size: 17px;
   line-height: 150%;
   text-align: center;
   margin: 0;
  }
  .footer-profession {
   font-size: 17px;
   line-height: 150%;
   text-align: center;
   margin: 0 0 20px 0;
  }
  .footer-phone {
   font-weight: bold;
   font-size: 17px;
   line-height: 150%;
   text-align: center;
   margin: 0 0 15px 0;
  }
  .footer-phone-link {
   color: var(--txt-c-dark);
   text-decoration: none;
  }
  .footer-email {
   font-size: 17px;
   line-height: 150%;
   text-align: center;
   color: var(--txt-c-dark);
   text-decoration: none;
   margin: 0 0 30px 0;
  }
  .footer-email-link {
   color: var(--txt-c-dark);
   text-decoration: none;
  }
  .footer-icons {
    padding: 0 60px;
    text-align: center;
    cursor: pointer;
  }
  .footer-icons .footer-icons-style {
   font-size: 25px;
   margin: 0 15px 0 15px;
   color: var(--c-dark);
  }

  /* CALCULATOR JS */

  .calculator-form-input .technologies-input-container .choices__item {
   background: var(--c-accent);
   border: none;
   border-radius: 3px;
   position: relative;
  }

  .calculator-form-input .technologies-input-container:after {
   content: "\f107";
   height: 0;
   width: 0;
   position: absolute;
   right: 10px;
   top: 45%;
   margin-top: -2.5px;
   cursor: pointer;
   font-family: "Font Awesome 5 Free";
   font-weight: 900;
  }
  .calculator-form-input .technologies-input-container  {
   background: transparent;
   border-radius: 0;
   border: none;
   border-bottom: 1px solid var(--c-grey);
   padding-left: 0;
   display: flex;
   align-items: center;
   min-height: 35px;
   box-sizing: border-box;
  }
  .calculator-form-input .choices__input {
   display: none;
  }
  .calculator-form-input .choices__item .choices__button {
   border-left: none;
   margin: 0;
   padding-left: 8px;
  }
 
  /*TABLET VERSION */

@media only screen and (min-width: 640px) {

  .mobile-element {
   display: none;
  }
  .tablet-element {
    display: block;
  }
  .my-video-content {
   max-width: 640px;
   max-height: 480px;
  }
  .callback-form-input-container {
    display: flex;
    flex-direction: column;
  }
  .mobile-menu {
    text-align: center;
    padding-top: 6px;
  }
  .front-page-my-name {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 0;
  }
  .front-page-profession {
    font-size: 55px;
    line-height: 66px; 
    margin-top: 20px;
    margin-bottom: 30px;
  }
  .profession-part-1 {
    margin-right: 40px;
  }
  .profession-part-2 {
    margin-left: 40px;
  }
  .front-page-description {
    font-size: 17px;
    line-height: 150%;
    width: 385px;
    margin: 0 0 40px 0;
  }
  .front-page-my-info {
    display: flex;
    margin-bottom: 60px;
  }
  .front-page-my-photo {
    width: 140px;
    margin: 0 35px 0 0;
  }
  .front-page-me-video {
    margin: 0;
  }
  .front-page-my-descrip {
    text-align: left;
  }
  .font-page-about-me-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .front-page-laptop {
   min-width: 400px;
   margin-bottom: 90px;
  }
  .front-page {
    height: 1610px;
  }
  .container {
    min-width: 640px;
    padding: 30px 10px 70px 10px;
  }
  .front-page-gallery-button {
    margin-bottom: 50px;
    width: 400px;
    height: 60px;
  }
  .about .container {
    position: relative;
  }
  
  .about-img-text {
    position: absolute;
    right: 22px;
    top: 228px;
    font-size: 200px;
    line-height: 240px;
  }
  
  .about-img {
    width: 361px;
    height: 390px;
    left: -105px;
    top: 70px;
  }
  
  .about-img-container {
    margin-bottom: 0;
  }
  
  .about-title {
    font-size: 50px;
    line-height: 60px;
    width: 600px;
  }
  
  .about-descr {
    font-size: 36px;
    line-height: 43px;
    margin-bottom: 60px;
  }
  .about-text {
    width: 395px;
  }

  .about-text:last-child {
    width: 320px;
    margin-bottom: 84px;
  }
  
  .team-projects-title,
  .personal-projects-title {
    text-align: left;
    width: 400px;
    font-size: 50px;
    line-height: 60px;
  }
  
  .team-project-item,
  .personal-project-item {
    margin: 0 25px 40px 25px;
  }
  
  .callback-form .container,
  .personal-projects .container,
  .team-projects .container {
    align-items: normal;
  }
  
  .team-projects-title-bgd {
    font-size: 200px;
    line-height: 240px;
    top: 19px;
  }
  .personal-project-button {
    width: 210px;
  }
  .swiper-container {
    width: 500px;
  }
  .swiper-button-prev {
    opacity: 1;
  }
  .swiper-button-next {
    opacity: 1;
  }
  .about-img {
    float: left;
  }
  .callback-form-title {
    font-size: 36px;
    line-height: 43px;
    width: 386px;
    margin-top: 50px;
  }
  .call-back-form-descrip {
    width: 356px;
  }
  .callback-form-input {
    width: 350px;
    padding: 40px 10px 25px 10px;
  }
  .callback-form-submit {
    margin: 40px 0 40px 0;
    text-align: center;
    width: 350px;
  }
  .calculator .container {
    align-items: normal;
    position: relative;
    padding-bottom: 90px;
  }
  .calculator-title {
    font-size: 50px;
    line-height: 60px;
    text-align: left;
    width: 605px;
    margin-bottom: 40px;
  }
  .calculator-descr {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    font-size: 36px;
    line-height: 150%;
  }
  .calculator-icon {
    width: 344px;
    position: absolute;
    right: 10px;
    top: 405px;
    z-index: 1;
  }
  .calculator-text {
    text-align: left;
    width: 330px;
    margin-top: 10px;
  }
  .calculator-form {
    z-index: 2;
    padding: 60px 80px 70px 80px;
  }
  .accent-button-calculator {
    width: 440px;
    height: 45px;
    padding: 0;
  }
  .footer-info-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
  }
  .footer-icons {
    text-align: left;
    padding: 0;
    margin-left: -15px;
    cursor: pointer;
  }
  .footer-icons-style {
    color: var(--c-dark);
  }
  .footer-container {
    padding: 40px 20px 60px 20px;
  }
  .footer-name-profession {
    margin-bottom: 20px;
  }
  .footer-name {
    text-align: left;
  }
  .footer-profession {
    margin: 0;
  }
  .footer-phone {
    text-align: right;
    margin: 0 0 15px 0;
  }
  .footer-email {
    margin: 0;
  }
  .exp-skill {
    margin: 0 0 20px 40px;
  }
  .exp-skill-1 {
    margin: 0 0 20px 40px;
  }
  .exp-skill-2 {
    margin: 0 0 20px 40px;
  }
  .exp-skill-3 {
    margin: 0 0 20px 40px;
  }
  .exp-skill-4 {
    margin: 0 0 20px 40px;
  }
}

/* DESKTOP VERSION */

@media only screen and (min-width: 1000px) {
  .tablet-element {
    display: none;
  }
  .desktop-element {
    display: block;
  }
  .front-page {
    height: 100%;
  }
  .front-page-profession {
   font-size: 70px;
   line-height: 84px;
   margin-top: 15px;
   margin-bottom: 35px;
  }
  .front-page-main-info {
    align-items: flex-start;
    order: 2;
    z-index: 2;
    position: relative;
  }
  .front-page-my-photo {
    position: absolute;
    width: 270px;
    z-index: -1;
    right: -10px;
    bottom: 280px;
  }
 .front-page-my-name {
   margin: 0 0 15px 0;
   border: none;
   box-shadow: none;
  }
  .front-page-description {
    margin: 0 0 65px 50px;
    text-align: left;
    
  }
  .front-page-gallery-button {
    margin: 0 0 40px 50px;
    width: 390px;
  }
  .profession-part-2 {
    margin: 0 0 0 50px;
  }
  .front-page-wrapper {
    width: 100%;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 115px;
    max-width: 1200px;
  }
  .front-page-laptop {
    position: absolute;
    bottom: -110px;
    right: 0;
  }
  .experience-wrapper {
    flex-direction: column;
    order: 1;
    width: 175px;
  }
  .front-page-my-info {
    order: 3;
  }
  .front-page-my-descrip {
    text-align: right;
  }
  .experience-title {
    text-align: left;
    width: 175px;
  }
  .exp-skill {
    margin: 0 0 20px 0px;
  }
  .exp-skill-4 {
    margin: 0 0 20px 0px;
  }
  .exp-skill-3 {
    margin: 0 0 20px 0px;
  }
  .exp-skill-2 {
    margin: 0 0 20px 0px;
  }
  .exp-skill-1 {
    margin: 0 0 20px 0px;
  }
  .team-project-item-wrapper,
  .personal-project-item-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .team-project-item,
  .personal-project-item {
    width: calc(50% - 20px);
  }

  .team-project-item:nth-child(odd),
  .personal-project-item:nth-child(odd) {
   margin: 0 20px 40px 0;
  }

  .team-project-item:nth-child(even),
  .personal-project-item:nth-child(even) {
    margin: 0 0 40px 20px;
  }

  .team-projects-title,
  .personal-projects-title {
    font-size: 70px;
    line-height: 84px;
    width: 530px;
  }
  .personal-project-button {
    width: 210px;
    padding: 0;
    height: 45px;
  }
  .team-projects-title-bgd {
   font-size: 250px;
   line-height: 300px;
   top: 35px;
   left: 274px;
  }
  .font-page-about-me-container {
    z-index: 2;
  }
  .modal-mobile-menu-items {
    flex-direction: row;
  } 
  .modal-mobile-menu-item {
    margin-left: 35px;
    cursor: pointer;
  }
  .modal-mobile-menu-item:hover {
    animation-name: color;
    animation-duration: 3s;
  }
  @keyframes color {
    25% {
      color: var(--c-accent);
    }
    50% {
      color: var(--c-accent);
    }
    100% {
      color: var(--c-accent);
    }
  }
  .navigation { 
    max-width: 1200px;
  }  
  .about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .number {
    font-weight: bold;
    font-size: 65px;
    line-height: 78px;
    text-align: center;
    text-transform: uppercase;
    color: var(--txt-c-light);
    background: var(--c-accent);
    padding: 410px 20px 10px 20px;
    margin: 10px 0 35px 85px;
  }
  .number-text {
    font-weight: bold;
    font-size: 15px;
    line-height: 135%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--txt-c-dark);
    width: 125px;
    margin-left: 85px;
  }
  .about-title {
    margin-top: 0;
  }
  .container {
    padding-top: 0;
  }
  .callback-form-input-container {
    display: flex;
    flex-direction: row;
  } 
  .callback-form-input {
    margin: 0 20px;
    text-align: left;
    width: 260px;
    padding-bottom: 15px;
  }
  .callback-form-title {
    width: 100%;
    margin-bottom: 10px;
  }
  .call-back-form-descrip {
    width: 100%;
    margin-bottom: 10px;
  }
  .callback-form-submit {
    width: 265px;
    margin-bottom: 60px;
  }
  .calculator .container {
    display: flex;
    flex-direction: row;
    padding: 150px 10px;
    width: 100%;
    justify-content: center;
  }
  .calculator-info-container {
    direction: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 100%;
  }
  .calculator-form {
    padding: 40px 50px;
    width: 386px;
    box-sizing: border-box;
  }
  .calculator-title {
    margin: 0 0 50px 0;
    font-size: 70px;
    line-height: 84px;
    width: 100%;
  }
  .accent-button-calculator {
    width: 276px;
  }
  .calculator-descr {
    display: flex;
    z-index: 2;
  }
  .calculator-icon {
    top: 390px;
    right: 20px;
    z-index: 0;
  }
  .calculator-text {
    margin-top: 55px;
    width: 350px;
    z-index: 2;
  }

  .footer-phone {
    margin: 0 30px 0 0;
  }
  .footer-info-container {
    text-align: center;
  }
  .footer-name-profession {
    margin: 0;
  }
  .footer-icons {
    margin-top: 13px;
    cursor: pointer;

  }
  .footer-icons-style {
    color: var(--c-dark);
  }
  .about-me-container-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 130px 5px 140px 5px;
  }
  .container .container-left {
   padding: 0;
  }
  /* MODALS */

  .modal-thanks {
    padding: 0 30px 80px 60px;
  }
  .modal-thanks-text-delivered {
    width: 360px;
    font-size: 36px;
    line-height: 43px;
    padding: 0 100px 20px 70px;
  }
  .modal-thanks-text {
    font-size: 24px;
    line-height: 29px;
    padding: 0 100px 20px 70px;
  }
  .modal-thanks-close-button {
    padding-top: 30px;
    margin: 0;
  }
  .my-video-content {
    max-width: 960px;
    max-height: 540px;
  }
  .project-modal-container {
    padding: 95px;
  }
  .swiper-container {
    width: 800px;
  }
  .swiper-button-prev {
    opacity: 1;
  }
  .swiper-button-next {
    opacity: 1;
  }
}