
images/.DS_Store
images/projects/.DS_Store
images/projects/personal/.DS_Store
images/projects/personal/goit/.DS_Store
images/projects/personal/pro-test/.DS_Store
images/projects/personal/wedding/.DS_Store
images/projects/team/.DS_Store
images/projects/team/it-test/.DS_Store
images/projects/team/questify/.DS_Store
